<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" href="dashboard.html">
                <b>
                    <img src="/images/admin-logo.png" alt="home" class="dark-logo"/>
                    <img src="/images/admin-logo-dark.png" alt="home" class="light-logo"/>
                </b>
                <span class="hidden-xs">
                        <img src="/images/admin-text.png" alt="home" class="dark-logo"/>
                        <img src="/images/admin-text-dark.png" alt="home" class="light-logo"/>
                     </span>
            </a>
        </div>
        <!-- /Logo -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a class="profile-pic" href="#"> <img src="/images/users/varun.jpg" alt="user-img"
                                                      width="36" class="img-circle"><b class="hidden-xs">
                        username
                    </b></a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>